@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply rounded-lg
  }

  li {
      @apply p-4
  }

  button {
      @apply text-white border bg-indigo-600 border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-md
  }
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.body');
  color: theme('colors.white')
}

.overlay-film-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom, 
    transparent 10%, 
    theme('colors.body'));
}